@import url("https://fonts.googleapis.com/css?family=Murecho");
/* General */
* {
    margin: 0;
    padding: 0;
}

.home, .all-accommodations {
    margin: 50px;
    font-family: "Murecho", "sans-serif";
}

/* Index Page */
.travel-suggestions {
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: center;
}

.suggestions-text > * {
    margin: 20px;
}

.suggestions-image > img {
    border-radius: 5px;
}

/* Navbar */
.navbar {
    height: 139px;
    padding: 25px;
    background: #c2c29d;
    border-color: #edf0f4;
    border-width: 1px;
    border-style: solid;
    align-items: flex-end;
}

.sign-up-button {
    position: absolute;
    left: 1030px;
    top: 29px;
    width: 117px;
    height: 36px;
    padding: 0 10px 0 10px;
    background: #444444;
    color: #ffffff;
    border-color: #444444;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.log-in-button {
    position: absolute;
    left: 1159px;
    top: 29px;
    width: 117px;
    height: 36px;
    padding: 0 10px 0 10px;
    background: #edf0f4;
    color: #444444;
    border-color: #444444;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Murecho", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.zipliner {
    width: 80px;
    height: 93px;
}

.book-your-perfect-holiday {
    width: 419px;
    height: 89px;
    color: #444444;
    font-family: "Murecho", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    text-align: left;
}

.keyboard-arrow-right-icon-1 {
    width: 49px;
    height: 49px;
    background: #000000;
}

.keyboard-arrow-right-icon-2 {
    width: 49px;
    height: 49px;
    transform: rotate(179deg);
    background: #444444;
}

.image-placeholder-7 {
    width: 617px;
    height: 395px;
    border-radius: 5px;
}

.surfer {
    width: 89px;
    height: 93px;
}

.journey-button {
    width: 228px;
    height: 48px;
    padding: 0 10px 0 10px;
    background: #444444;
    color: #ffffff;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Murecho", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}

.navbar .links button {
    padding: 5px;
    margin-right: 5px;
}

.navbar .links button:hover {
    cursor: pointer;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.intro-text {
    width: 368px;
    height: 82px;
    color: #929292;
    font-family: "Murecho", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.flex-filter-box {
    display: flex;
    justify-content: center;
}

.combo-box-1 {
    display: inline-flex;
    width: 100%;
    padding: 25px;
    background: #ebebeb;
    color: #232323;
    border-radius: 5px;
    justify-content: center;
}

.combo-box-1 div {
    max-width: 200px;
    margin-right: 20px;
}

.search-input-1 {
    width: 180px;
    height: 32px;
    background: #ffffff;
    color: #7a7a7a;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    font-family: "Murecho", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 8px;
}

.start-date, .end-date {
    width: 180px;
    height: 32px;
    padding: 8px;
    background: #ebebeb;
    color: #232323;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-family: "Murecho", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
}

.modal input {
    margin-bottom: 1rem;
    width: 100%;
}

.submitButton {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* All Accommodations */

.all-accommodations {
    font-family: "Murecho", sans-serif;
    margin: 50px;
}

.list-accommodations {
    display: flex;
    background-color: #EBEBEB;
    border-radius: 5px;
    margin: 25px 0 25px 0;
    padding: 25px;
}

.accommodation-image {
    margin: 0 25px 0 0;
}

.accommodation-button {
    margin-left: auto;
    align-self: flex-end;
}

.accommodation-button button {
    cursor: pointer;
}

/* Accommodation Details */
.accommodation-details {
    display: flex;
    background-color: #EBEBEB;
    padding: 25px;
    margin: 25px 0 25px 0;
    border-radius: 5px;
}

.accommodation-details > img {
    border-radius: 5px;
}

.details-info {
    border-radius: 5px;
    align-self: center;
    margin-left: 50px;
}

.details-features {
    border-radius: 5px;
    padding: 100px 100px 100px 50px;
    flex: 1;
}