@import url("https://fonts.googleapis.com/css?family=Murecho");

* {
    font-family: "Murecho", sans-serif;
}

.checkout-area {
    background-color: #EBEBEB;
    padding: 25px;
    border-radius: 5px;
    margin: 50px;
}

.acc-info {
    display: flex;
    margin: 50px 0 50px 0;
}

.image-container {
    margin-right: 50px;
}
